[SddmGreeterTheme]
Name=Gruvbox Minimal SDDM
Description=Minimal Gruvbox theme inspired by where-is-my-sddm-theme
Screenshot=screenclick.png
Website=https://github.com/scientiac/gruvbox-minimal-theme
Author=stepanzubkov, scientiac
Copyright=(c) 2023, stepanzubkov, scientiac
License=MIT
Version=1.0.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=gruvbox-minimal-sddm
Theme-API=2.2
